.header {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 100px;
    gap: 50px;

}

.top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.top-section {
    display: flex;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content:space-between;
    
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 50px;
    width: max-content;
    flex-grow: 1;
    
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 50px;
    flex-grow: 1;
}

.h2 {
    display:flex;
    flex-direction: column;
}

.text-above {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.text-below {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.three-news-stories {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 50px;
}

.quote-box{
    height: 400px;
      display: flex; 
      justify-content: center;
}

.text {
    align-self: center;
    justify-content: center;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
      }

.mid-news {
    display: flex;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content:space-between;
}

.right-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 50px;
    width: max-content;
    flex-grow: 1;
    
}

.left-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 50px;
    flex-grow: 1;
}

.subscriptions {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-family: Helvetica, Arial, sans-serif;

}