.header {
    display: flex;
    justify-content: space-between;
    font-family: "raleway", sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 100px;
    gap: 50px;

}

.top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family: "raleway", sans-serif;
}

.top-section {
    display: flex;
    height: 550px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content:space-between;
    margin-bottom: 20px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 25px;
    width: max-content;
}

.image1
{
width:700px;
height:auto;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 50px;
    flex-grow: 1;
    line-height: 30px;
}

.welcome {
    font-family: "ballinger-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
}

a {
    text-decoration: none;
}

.h2 {
    display:flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    line-height: 30px;
}

.text-above {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "ballinger-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}

.text-below {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Helvetica, Arial, sans-serif;
}

.three-news-stories {
    display: flex;
    justify-content:space-between;
    gap: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
}

.under-text {
    font-family: Helvetica, Arial, sans-serif;
}
.t1 {
    width: 400px;
    max-height: 150px;
}

.news-tit {
    font-family: "ballinger-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}

.image2 {
    width: 400px;
    height:auto;
    }

.image3 {
width: 400px;
height:auto;
}

.image4 {
    width: 400px;
    height:auto;
    }

.quote-box{
    height: 300px;
      display: flex; 
      justify-content: center;
      line-height: 30px;
}

.picas {
    font-family: "ballinger-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}
.text {
    align-self: center;
    justify-content: center;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
      }

      .comps {
        font-family: Helvetica, Arial, sans-serif;
      }

.mid-news {
    display: flex;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content:space-between;
    margin-bottom: 100px;
}

.right-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 50px;
    width: max-content;
}

.image5
{
width: 700px;
height:auto;
}


.left-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "ballinger-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-right: 50px;
}

.para {
    line-height: 30px;
    font-family: Helvetica, Arial, sans-serif;
}

.subscriptions {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 100px;
    line-height: 30px;
    font-family: Helvetica, Arial, sans-serif;
}

.sub-one {
    outline: auto;
    outline-offset: 20px;
}

.sub-two {
    outline: auto;
    outline-offset: 20px;
}

.sub-three {
    outline: auto;
    outline-offset: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: beige;

}